<div class="bodywrap">
  <%- include("../components/bread-crumb") %>

  <section class="page">
    <div class="container">
      <div class="pg_page padding-top-15">
        <div class="row">
          <div class="col-12">
            <div class="page-title category-title">
              <h1 class="title-head d-none"><a href="#">About Robin Furnita </a></h1>
            </div>
            <div class="content-page rte">
              <p><strong>Step inside the world’s leading bamboo products company </strong></p>
              <p>
                Robin Furnita was founded with a problem in mind: single-use plastic. Nearly twelve million tons of
                plastic ends up in the ocean every year causing havoc in the food chain of the marine ecosystem. We
                found our business opportunity helping to solve this biggest problem of plastic pollution. ​
              </p>
              <p>
                This problem is wreaking havoc on our oceans and marine life, while also contributing to global warming.
                We decided that enough was enough, and set out to create an eco-friendly solution.
              </p>
              <p>
                Through years of research and development, we developed bamboo products that are biodegradable and
                sustainable. We believe these products can make a real difference in reducing single-use plastic
                pollution and its devastating effects on the environment.
              </p>
              <p>
                At Robin Furnita, we strive to be part of the solution for our planet’s future by providing high quality
                sustainable bamboo products at an affordable price. Our goal is not only about creating great products;
                it’s also about making a difference. We are dedicated to helping reduce single-use plastic pollution and
                protecting our oceans and marine life.
              </p>
              <p>
                Our mission is to reduce the use of plastic and produce eco-friendly products for the sustainability of
                our environment.
              </p>
              <p>
                Our vision is to collaborate with green distributors, wholesalers and retailers all over the world and
                supply businesses with biodegradable and eco-friendly products to replace single usage of plastic and
                help to keep our oceans clean.
              </p>
              <p>
                By choosing Robin Furnita, you can join us in our mission to make the world a better place for future
                generations. Together, we can make a real difference in reducing single-use plastic pollution!
              </p>
              <p>&nbsp;</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
