<script src="/assets/100/485/241/themes/911577/assets/maine387.js" type="text/javascript"></script>
<div class="bodywrap">
  <section class="bread-crumb" style="background-color: #e2d0c0">
    <div class="container">
      <div class="title-bread-crumb">About Us</div>
      <ul class="breadcrumb">
        <li class="home">
          <a href="/index"><span>Home</span></a>
          <span class="mr_lr"
            >&nbsp;<svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="chevron-right"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 320 512"
              class="svg-inline--fa fa-chevron-right fa-w-10">
              <path
                fill="currentColor"
                d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"
                class=""></path></svg
            >&nbsp;</span
          >
        </li>

        <li>
          <strong><span>About Us</span></strong>
        </li>
      </ul>
      <div class="danhmuc-breadcrumb">
        <section class="section_danhmuc">
          <div class="container">
            <div class="danhmuc-swiper swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <a href="noi-su-duong-sinh.html" title="Baskets"></a>
                  <div class="danhmuc-thumb">
                    <img
                      width="200"
                      height="200"
                      class="lazyload"
                      src="/assets/100/485/241/themes/911577/assets/danhmuc_1.jpg"
                      alt="Baskets" />
                    <span class="image-shadow"></span>
                  </div>
                  <div class="danhmuc-info">
                    <h3>Baskets</h3>
                    <span>+ 0 products</span>
                  </div>
                </div>

                <div class="swiper-slide">
                  <a href="phong-an.html" title="Home decors"></a>
                  <div class="danhmuc-thumb">
                    <img
                      width="200"
                      height="200"
                      class="lazyload"
                      src="/assets/100/485/241/themes/911577/assets/danhmuc_2.jpg"
                      alt="Home decors" />
                    <span class="image-shadow"></span>
                  </div>
                  <div class="danhmuc-info">
                    <h3>Home decors</h3>
                    <span>+ 30 products</span>
                  </div>
                </div>

                <div class="swiper-slide">
                  <a href="su-duong-sinh.html" title="Kitchen ware"></a>
                  <div class="danhmuc-thumb">
                    <img
                      width="200"
                      height="200"
                      class="lazyload"
                      src="/assets/100/485/241/themes/911577/assets/danhmuc_3.jpg"
                      alt="Kitchen ware" />
                    <span class="image-shadow"></span>
                  </div>
                  <div class="danhmuc-info">
                    <h3>Kitchen ware</h3>
                    <span>+ 0 products</span>
                  </div>
                </div>

                <div class="swiper-slide">
                  <a href="tra-ca-phe.html" title="Lights"></a>
                  <div class="danhmuc-thumb">
                    <img
                      width="200"
                      height="200"
                      class="lazyload"
                      src="/assets/100/485/241/themes/911577/assets/danhmuc_4.jpg"
                      alt="Lights" />
                    <span class="image-shadow"></span>
                  </div>
                  <div class="danhmuc-info">
                    <h3>Lights</h3>
                    <span>+ 21 products</span>
                  </div>
                </div>

                <div class="swiper-slide">
                  <a href="phu-kien-ban-an.html" title="Handbags"></a>
                  <div class="danhmuc-thumb">
                    <img
                      width="200"
                      height="200"
                      class="lazyload"
                      src="/assets/100/485/241/themes/911577/assets/danhmuc_5.jpg"
                      alt="Handbags" />
                    <span class="image-shadow"></span>
                  </div>
                  <div class="danhmuc-info">
                    <h3>Handbags</h3>
                    <span>+ 0 products</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <script>
          var swiperdanhmuc = new Swiper('.danhmuc-swiper', {
            slidesPerView: 3,
            loop: false,
            grabCursor: true,
            roundLengths: true,
            slideToClickedSlide: false,
            slidesPerColumn: 1,
            spaceBetween: 30,
            autoplay: false,
            breakpoints: {
              300: {
                slidesPerView: 2,
              },
              500: {
                slidesPerView: 2,
              },
              640: {
                slidesPerView: 2,
              },
              768: {
                slidesPerView: 4,
              },
              991: {
                slidesPerView: 5,
              },
              1200: {
                slidesPerView: 5,
              },
            },
          })
        </script>
      </div>
    </div>
  </section>

  <section class="page">
    <div class="container">
      <div class="pg_page padding-top-15">
        <div class="row">
          <div class="col-12">
            <div class="page-title category-title">
              <h1 class="title-head d-none"><a href="#">Giới thiệu</a></h1>
            </div>
            <div class="content-page rte">
              <p><strong>Giới thiệu</strong></p>
              <p>
                Ngành hàng gốm sứ là một trong những ngành hàng truyền thống của Việt Nam, có lịch sử phát triển lâu đời
                và chiếm vị trí quan trọng trong nền kinh tế và văn hóa của đất nước. Những sản phẩm gốm sứ được tạo ra
                từ các loại đất sét và được sục khí nung để tạo nên các sản phẩm làm đẹp cho người sử dụng.
              </p>
              <p>
                Trong ngành hàng gốm sứ, nghệ thuật sản xuất và sáng tác tiềm ẩn nhiều giá trị văn hóa. Những cốc chén,
                bình hoa, đồ trang trí trong gia đình đều khắc họa nét đẹp của văn hóa Việt Nam. Không chỉ được sử dụng
                trong đời sống thường ngày, những sản phẩm gốm sứ còn được sử dụng trong lễ hội, lịch sử dân tộc và nghi
                lễ tôn giáo.
              </p>
              <p>
                Thị trường ngành hàng gốm sứ không chỉ ở Việt Nam mà còn lan rộng ra tới các quốc gia khác trên thế
                giới. Nó đang được ưa chuộng do đặc tính thân thiện với môi trường và tính thẩm mỹ cao. Sự phát triển
                của sản phẩm gốm sứ cũng giúp nâng cao sản xuất công nghiệp Việt Nam và là nguồn thu nhập quan trọng cho
                người lao động, đóng góp tích cực cho nền kinh tế đất nước.
              </p>
              <p>
                Nghề gốm sứ còn mang trong mình những giá trị tinh thần, với hơn 70% lao động thuộc địa phương, đa số là
                những người có tài năng và niềm đam mê với nghệ thuật. Họ đã vượt qua những khó khăn để giữ gìn và
                truyền lại cho thế hệ sau những giá trị vỏn vẹn của nghề gốm sứ. Từ đó, nghề gốm sứ không chỉ là món đồ
                sử dụng như mọi người nghĩ, mà còn là một tinh hoa văn hóa và là niềm tự hào của dân tộc.
              </p>
              <p>
                Để góp phần duy trì và phát triển ngành hàng gốm sứ, các doanh nghiệp phải chú trọng đầu tư công nghệ
                sản xuất tiên tiến và quản lý chất lượng sản phẩm tốt hơn. Tuy nhiên, để phổ biến sản phẩm cho khách
                hàng, họ cần đào tạo và tạo ra nhiều mẫu mã đa dạng hơn, phù hợp với nhu cầu thị trường và văn hóa địa
                phương.
              </p>
              <p>
                Tổng kết lại, ngành hàng gốm sứ là ngành hàng truyền thống quan trọng của Việt Nam, đóng góp to lớn cho
                nền kinh tế và văn hóa của đất nước. Nó mang trong mình những giá trị tinh thần, và còn là niềm tự hào
                của người Việt. Để phát triển ngành này, chúng ta cần kết hợp các giá trị văn hóa với công nghệ sản xuất
                tiên tiến, giúp đáp ứng nhu cầu của khách hàng và bảo vệ môi trường.
              </p>
              <p>&nbsp;</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
