<div class="bodywrap">
  <%- include("../components/bread-crumb") %>

  <h1 class="title-head-contact a-left d-none">Create Product</h1>
  <div class="layout-contact">
    <div class="container">
      <div class="row">
        <div class="form-contact">
          <h1>Create Product</h1>
          <div id="pagelogin">
            <form method="post" enctype="multipart/form-data" method="POST">
              <div class="group_contact">
                <input
                  placeholder="Product code"
                  type="text"
                  class="form-control form-control-lg"
                  required=""
                  value=""
                  name="id" />

                <input
                  placeholder="Title"
                  type="text"
                  class="form-control form-control-lg"
                  required=""
                  value=""
                  name="title" />

                <input
                  placeholder="Category"
                  type="text"
                  class="form-control form-control-lg"
                  value=""
                  name="category" />

                <input
                  placeholder="Images"
                  class="form-control form-control-lg"
                  type="file"
                  name="images"
                  multiple />

                <textarea
                  placeholder="Description"
                  name="description"
                  id="description"
                  class="form-control content-area form-control-lg"
                  rows="5"></textarea>
                <button type="submit" class="btn-create">Create</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
