<div class="bodywrap">
  <%- include("../components/bread-crumb") %>

  <div class="blog_wrapper layout-blog" itemscope itemtype="https://schema.org/Blog">
    <meta itemprop="name" content="News" />
    <meta itemprop="description" content="" />
    <div class="container">
      <h1 class="title-page d-none">
        <img width="72" height="43" src="/assets/icon-title.png" alt="" />
        <span>News</span>
      </h1>
      <div class="row">
        <div class="right-content col-lg-8 col-12">
          <div class="list-blogs">
            <div class="row row-fix">
              <div class="col-md-12 col-lg-6 col-fix">
                <div class="item-blog">
                  <div class="block-thumb">
                    <a class="thumb" href="/new/details">
                      <img class="lazyload" src="/img/articles/blog36298.jpg" />
                    </a>
                  </div>
                  <div class="time-post">June 22, 2023</div>
                  <div class="info">
                    <h3>
                      <a
                        href="meo-phat-hien-ly-coc-bat-dia-nhiem-doc.html"
                        title="Mẹo phát hiện ly cốc bát đĩa nhiễm độc và cách phòng tránh"
                        >Mẹo phát hiện ly cốc bát đĩa nhiễm độc và cách phòng tránh</a
                      >
                    </h3>
                    <p class="justify line-clamp line-clamp-3">
                      Mẹo nhận biết ly cốc bát đĩa nhiễm độc: Hoa văn càng sặc sỡ thì hàm lượng chì càng lớn Bởi thuỷ
                      tinh nung trên 1.000 độ C thường không có màu. Thông thường, ly cốc tách đẹp rực rỡ là do nhà sản
                      xuất cho thêm chì vào vừa tạo màu, vừa giảm nhiệt độ nung để tiết kiệm năng lượng. Chì còn được
                      tráng bên ngoài để nhờ tính chất truyền sáng làm đồ thủy tinh đẹp long lanh. Nguy hiểm nhất là
                      những sản phẩm có hình in sát mép cốc vì chì dễ xâm nhập vào cơ...
                    </p>

                    <a class="see" href="meo-phat-hien-ly-coc-bat-dia-nhiem-doc.html" title="Read more"> Read more </a>
                  </div>
                </div>
              </div>

              <div class="col-md-12 col-lg-6 col-fix">
                <div class="item-blog">
                  <div class="block-thumb">
                    <a class="thumb" href="/new/details">
                      <img class="lazyload" src="/img/articles/blog36298.jpg" />
                    </a>
                  </div>
                  <div class="time-post">June 22, 2023</div>
                  <div class="info">
                    <h3>
                      <a href="tinh-hoa-nghe-gom-xua-va-nay.html" title="Tinh hoa nghề gốm xưa và nay"
                        >Tinh hoa nghề gốm xưa và nay</a
                      >
                    </h3>
                    <p class="justify line-clamp line-clamp-3">
                      Xuất hiện cách đây hàng ngàn năm, nghề Gốm không chỉ cho thấy tiến bộ vượt bậc trong thiết kế sản
                      xuất ra những công cụ phục vụ cuộc sống mà còn cho thấy trí sáng tạo và đôi bàn tay khéo léo của
                      người thợ gốm Việt Nam. Trải qua bao thăng trầm cùng với thời gian, những làng gốm nổi tiếng xưa
                      vẫn được gìn giữ và lưu truyền tới ngày nay như: Làng Gốm Bát Tràng, làng Gốm Chu Đậu, làng Gốm
                      Bàu Trúc Tinh hoa Gốm xưa Gốm cổ truyền Việt Nam có cách đây hàng ngàn năm....
                    </p>

                    <a class="see" href="tinh-hoa-nghe-gom-xua-va-nay.html" title="Read more"> Read more </a>
                  </div>
                </div>
              </div>

              <div class="col-md-12 col-lg-6 col-fix">
                <div class="item-blog">
                  <div class="block-thumb">
                    <a class="thumb" href="/new/details">
                      <img class="lazyload" src="/img/articles/blog36298.jpg" />
                    </a>
                  </div>
                  <div class="time-post">June 22, 2023</div>
                  <div class="info">
                    <h3>
                      <a
                        href="bi-quyet-bao-quan-bo-am-chen-uong-tra-trong-nhu-moi-4.html"
                        title="Bí quyết bảo quản bộ ấm chén uống trà trông như mới"
                        >Bí quyết bảo quản bộ ấm chén uống trà trông như mới</a
                      >
                    </h3>
                    <p class="justify line-clamp line-clamp-3">
                      Các bộ ấm trà được làm từ sứ cao cấp, sứ mạ vàng luôn là lựa chọn hàng đầu của rất nhiều khách
                      hàng trung và thượng lưu hiện nay, bởi chất lượng vượt trội cũng như mẫu mã đẹp mắt, sang trọng.
                      Tuy nhiên, không phải người dùng nào cũng biết cách vệ sinh và bảo quản bộ ấm trà đúng cách. Để
                      giúp bạn luôn giữ được độ sáng bóng như mới của bộ ấm tách trà, bài viết hôm nay chúng tôi chia sẻ
                      đến bạn một vài mẹo nhỏ. &nbsp; Nguyên nhân gây ra các vết hoen ố trên...
                    </p>

                    <a class="see" href="bi-quyet-bao-quan-bo-am-chen-uong-tra-trong-nhu-moi-4.html" title="Read more">
                      Read more
                    </a>
                  </div>
                </div>
              </div>

              <div class="col-md-12 col-lg-6 col-fix">
                <div class="item-blog">
                  <div class="block-thumb">
                    <a class="thumb" href="/new/details">
                      <img class="lazyload" src="/img/articles/blog36298.jpg" />
                    </a>
                  </div>
                  <div class="time-post">June 22, 2023</div>
                  <div class="info">
                    <h3>
                      <a
                        href="cach-bao-quan-do-gom-su-dung-cach-tai-nha.html"
                        title="Cách bảo quản đồ gốm sứ đúng cách tại nhà"
                        >Cách bảo quản đồ gốm sứ đúng cách tại nhà</a
                      >
                    </h3>
                    <p class="justify line-clamp line-clamp-3">
                      Cách bảo quản đồ gốm sứ đúng cách tại nhà đơn giản nhất định phải biết. Chỉ với các mẹo vặt cùng
                      nguyên liệu đơn giản sẽ giúp chúng ta có các sản phẩm gốm như mới theo thời gian. Khi đồ gốm sứ
                      nói chung và&nbsp;Gốm Sứ Bát Tràng&nbsp;nói riêng bị xước lâu ngày, lớp bụi có thể tạo thành vết ố
                      trên bề mặt bình. Để loại bỏ những vết bẩn này, bạn cần biết cách vệ sinh đồ gốm sứ đúng cách. Bạn
                      có thể đun với hỗn hợp muối và giấm, dùng khăn ẩm phủ lên vết...
                    </p>

                    <a class="see" href="cach-bao-quan-do-gom-su-dung-cach-tai-nha.html" title="Read more">
                      Read more
                    </a>
                  </div>
                </div>
              </div>

              <div class="col-md-12 col-lg-6 col-fix">
                <div class="item-blog">
                  <div class="block-thumb">
                    <a class="thumb" href="/new/details">
                      <img class="lazyload" src="/img/articles/blog36298.jpg" />
                    </a>
                  </div>
                  <div class="time-post">June 22, 2023</div>
                  <div class="info">
                    <h3>
                      <a
                        href="noi-su-duong-sinh-cuoc-cach-mang-tu-chiec-noi-dat.html"
                        title="Nồi sứ dưỡng sinh – cuộc cách mạng từ chiếc nồi đất"
                        >Nồi sứ dưỡng sinh – cuộc cách mạng từ chiếc nồi đất</a
                      >
                    </h3>
                    <p class="justify line-clamp line-clamp-3">
                      Cuộc sống hiện đại đã đưa đến các dụng cụ nấu nướng tiện lợi nhưng tiềm ẩn nhiều nguy cơ về sức
                      khỏe được ủ mầm qua thời gian dài. Nồi bằng nhôm hay nồi tráng men chống dính khi không được sử
                      dụng và bảo quản đúng cách có thể tạo ra các mầm bệnh ung thư trực tiếp vào cơ thể con người.
                      &nbsp; Từ nồi đất đến nồi sứ dưỡng sinh Đi theo xu thế chung người tiêu dùng đang có thiên hướng
                      quay về sử dụng các đồ dùng bằng đất nung để giữ hương vị món ăn ngon...
                    </p>

                    <a class="see" href="noi-su-duong-sinh-cuoc-cach-mang-tu-chiec-noi-dat.html" title="Read more">
                      Read more
                    </a>
                  </div>
                </div>
              </div>

              <div class="col-md-12 col-lg-6 col-fix">
                <div class="item-blog">
                  <div class="block-thumb">
                    <a class="thumb" href="/new/details">
                      <img class="lazyload" src="/img/articles/blog36298.jpg" />
                    </a>
                  </div>
                  <div class="time-post">June 22, 2023</div>
                  <div class="info">
                    <h3>
                      <a
                        href="de-bien-gian-bep-chan-doi-thanh-bep-chuan-instagram.html"
                        title="Để biến gian bếp  thành bếp chuẩn Instagram!"
                        >Để biến gian bếp thành bếp chuẩn Instagram!</a
                      >
                    </h3>
                    <p class="justify line-clamp line-clamp-3">
                      Đừng nghĩ rằng để có gian bếp lung linh, đạt chuẩn background sống ảo thì bạn cần bỏ ra số tiền
                      kha khá mới cải tổ thành công. Thực ra, có một chiêu đơn giản hơn mà dân mê decor thường áp dụng
                      chính là lùng mua các món đồ nhỏ xinh, hữu ích giúp gian bếp vừa có màu sắc, vừa trông gọn gàng.
                      Và một trong những món mà bạn nên tậu về đầu tiên cho gian bếp để thấy rõ sự khác biệt chính là
                      combo nồi niêu, chảo hoặc đĩa, bát gốm. Vì đây đều là...
                    </p>

                    <a class="see" href="de-bien-gian-bep-chan-doi-thanh-bep-chuan-instagram.html" title="Read more">
                      Read more
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center"></div>
          </div>
        </div>
        <div class="blog_left_base col-lg-4 col-12">
          <div class="blog_noibat">
            <h2 class="h2_sidebar_blog">
              <a href="/new" title="News highlights">News highlights</a>
            </h2>
            <div class="blog_content">
              <div class="item clearfix">
                <div class="post-thumb">
                  <a
                    class="image-blog scale_hover"
                    href="meo-phat-hien-ly-coc-bat-dia-nhiem-doc.html"
                    title="Mẹo phát hiện ly cốc bát đĩa nhiễm độc và cách phòng tránh">
                    <img class="img_blog lazyload" src="/img/articles/blog36298.jpg" />
                  </a>
                </div>
                <div class="contentright">
                  <h3>
                    <a
                      title="Mẹo phát hiện ly cốc bát đĩa nhiễm độc và cách phòng tránh"
                      href="meo-phat-hien-ly-coc-bat-dia-nhiem-doc.html"
                      >Mẹo phát hiện ly cốc bát đĩa nhiễm độc và cách phòng tránh</a
                    >
                  </h3>
                </div>
              </div>

              <div class="item clearfix">
                <div class="post-thumb">
                  <a
                    class="image-blog scale_hover"
                    href="tinh-hoa-nghe-gom-xua-va-nay.html"
                    title="Tinh hoa nghề gốm xưa và nay">
                    <img class="img_blog lazyload" src="/img/articles/blog36298.jpg" />
                  </a>
                </div>
                <div class="contentright">
                  <h3>
                    <a title="Tinh hoa nghề gốm xưa và nay" href="tinh-hoa-nghe-gom-xua-va-nay.html"
                      >Tinh hoa nghề gốm xưa và nay</a
                    >
                  </h3>
                </div>
              </div>

              <div class="item clearfix">
                <div class="post-thumb">
                  <a
                    class="image-blog scale_hover"
                    href="bi-quyet-bao-quan-bo-am-chen-uong-tra-trong-nhu-moi-4.html"
                    title="Bí quyết bảo quản bộ ấm chén uống trà trông như mới">
                    <img class="img_blog lazyload" src="/img/articles/blog36298.jpg" />
                  </a>
                </div>
                <div class="contentright">
                  <h3>
                    <a
                      title="Bí quyết bảo quản bộ ấm chén uống trà trông như mới"
                      href="bi-quyet-bao-quan-bo-am-chen-uong-tra-trong-nhu-moi-4.html"
                      >Bí quyết bảo quản bộ ấm chén uống trà trông như mới</a
                    >
                  </h3>
                </div>
              </div>

              <div class="item clearfix">
                <div class="post-thumb">
                  <a
                    class="image-blog scale_hover"
                    href="cach-bao-quan-do-gom-su-dung-cach-tai-nha.html"
                    title="Cách bảo quản đồ gốm sứ đúng cách tại nhà">
                    <img class="img_blog lazyload" src="/img/articles/blog36298.jpg" />
                  </a>
                </div>
                <div class="contentright">
                  <h3>
                    <a
                      title="Cách bảo quản đồ gốm sứ đúng cách tại nhà"
                      href="cach-bao-quan-do-gom-su-dung-cach-tai-nha.html"
                      >Cách bảo quản đồ gốm sứ đúng cách tại nhà</a
                    >
                  </h3>
                </div>
              </div>

              <div class="item clearfix">
                <div class="post-thumb">
                  <a
                    class="image-blog scale_hover"
                    href="noi-su-duong-sinh-cuoc-cach-mang-tu-chiec-noi-dat.html"
                    title="Nồi sứ dưỡng sinh – cuộc cách mạng từ chiếc nồi đất">
                    <img class="img_blog lazyload" src="/img/articles/blog36298.jpg" />
                  </a>
                </div>
                <div class="contentright">
                  <h3>
                    <a
                      title="Nồi sứ dưỡng sinh – cuộc cách mạng từ chiếc nồi đất"
                      href="noi-su-duong-sinh-cuoc-cach-mang-tu-chiec-noi-dat.html"
                      >Nồi sứ dưỡng sinh – cuộc cách mạng từ chiếc nồi đất</a
                    >
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ab-module-article-mostview"></div>
</div>
