<head>
  <meta charset="UTF-8" />
  <meta name="theme-color" content="#ca6f04" />
  <meta
    name="viewport"
    content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="robots" content="noodp,index,follow" />
  <meta name="description" content="" />
  <title><%= title %></title>
  <meta name="keywords" content="contact, Robin Furnita, bambo rattan" />

  <meta property="og:type" content="website" />
  <meta property="og:image" content="/assets/logo.png" />
  <meta property="og:image:secure_url" content="/assets/logo.png" />

  <meta property="og:description" content="" />
  <link rel="icon" href="/assets/favicon.png" type="image/x-icon" />
  <link rel="preload" as="script" href="/assets/jquery.js" />
  <script src="/assets/jquery.js" type="text/javascript"></script>
  <link rel="preload" as="script" href="/assets/swiper.js" />
  <script src="/assets/swiper.js" type="text/javascript"></script>
  <link rel="preload" as="script" href="/assets/lazy.js" />
  <script src="/assets/lazy.js" type="text/javascript"></script>

  <link rel="preload" as="style" type="text/css" href="/assets/main.css" />
  <link rel="preload" as="style" type="text/css" href="/assets/bootstrap-4-3-min.css" />
  <link rel="preload" as="style" type="text/css" href="/assets/swiper.css" />
  <link rel="stylesheet" href="/assets/bootstrap-4-3-min.css" />
  <link href="/assets/main.css" rel="stylesheet" type="text/css" media="all" />
  <link href="/assets/swiper.css" rel="stylesheet" type="text/css" media="all" />
  <link rel="preload" as="style" type="text/css" href="/assets/quickviews_popup_cart.css" />
  <link href="/assets/quickviews_popup_cart.css" rel="stylesheet" type="text/css" media="all" />
  <link href="/assets/breadcrumb_style.css" rel="stylesheet" type="text/css" media="all" />
  <link href="/assets/paginate.css" rel="stylesheet" type="text/css" media="all" />
  <link href="/assets/style_page.css" rel="stylesheet" type="text/css" media="all" />
  <link href="/assets/contact_style.css" rel="stylesheet" type="text/css" media="all" />
  <link href="/assets/sidebar_style.css" rel="stylesheet" type="text/css" media="all" />
  <link href="/assets/blog_article_style.css" rel="stylesheet" type="text/css" media="all" />
  <link
    href="/assets/collection_style.css?1688630469540"
    rel="stylesheet"
    type="text/css"
    media="all" />
  <link href="/assets/index.css" rel="stylesheet" type="text/css" media="all" />
  <link rel="preload" as="style" type="text/css" href="/assets/index.css" />
  <link href="/assets/account_oder.css" rel="stylesheet" type="text/css" media="all" />
  <style>
    .home-slider .slider-text .button {
      background-image: url(/assets/background_module.png);
    }
    .section_instagram,
    .section_product_set {
      background-image: url(/assets/background_module.png);
    }
    .section_nghenhan {
      background-image: url(/assets/background.jpg);
      background-size: cover;
    }
  </style>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&amp;display=swap');
  </style>
  <script>
    ;(function () {
      function asyncLoad() {
        var urls = []
        for (var i = 0; i < urls.length; i++) {
          var s = document.createElement('script')
          s.type = 'text/javascript'
          s.async = true
          s.src = urls[i]
          var x = document.getElementsByTagName('script')[0]
          x.parentNode.insertBefore(s, x)
        }
      }
      window.attachEvent
        ? window.attachEvent('onload', asyncLoad)
        : window.addEventListener('load', asyncLoad, false)
    })()
  </script>
  <script src="/assets/js/sweetalert2.all.min.js"></script>
</head>
