<div class="opacity_menu"></div>
<header class="header header-index" style="position: relative">
  <div class="container" style="position: relative">
    <div class="row align-items-center">
      <div class="col-lg-2 col-12">
        <a href="/" class="logo">
          <img width="220" height="27" src="/assets/100/485/241/themes/911577/assets/logo.png" alt="Robin Furnita" />
        </a>
      </div>
      <div class="col-lg-8 col-2 header-menu header-menu-left">
        <div class="header-menu-des">
          <div class="header-menu-des">
            <nav class="header-nav">
              <!-- <ul class="item_big">
                <li class="nav-item active">
                  <a class="a-img a-index" href="/" title="Home"> Home </a>
                </li>

                <li class="nav-item">
                  <a class="a-img a-index" href="/about" title="About"> About </a>
                </li>

                <li class="nav-item has-mega">
                  <a class="a-img caret-down a-index" href="/products" title="Products"> Products </a>
                  <i class="fa fa-caret-down"></i>

                  <div class="mega-content d-lg-block d-none">
                    <div class="row">
                      <div class="col-lg-8 col-12">
                        <ul class="level0">
                          <li class="level1 parent item fix-navs" data-title="Baskets" data-link="/products/baskets">
                            <a class="hmega" href="/products/baskets" title="Baskets">Baskets</a>
                            <ul class="level1">
                              <li class="level2">
                                <a href="/products/baskets/laundry" title="Laundry">Laundry</a>
                              </li>

                              <li class="level2">
                                <a href="/products/baskets/store" title="Store">Store</a>
                              </li>

                              <li class="level2">
                                <a href="/products/baskets/boxes" title="Boxes">Boxes</a>
                              </li>
                            </ul>
                          </li>

                          <li
                            class="level1 parent item fix-navs"
                            data-title="Home Decors"
                            data-link="/products/home-decors">
                            <a class="hmega" href="/products/home-decors" title="Home Decors">Home Decors</a>
                            <ul class="level1">
                              <li class="level2">
                                <a href="/products/home-decors/mirrors" title="Mirrors">Mirrors</a>
                              </li>

                              <li class="level2">
                                <a href="/products/home-decors/wall-shelves" title="Wall Shelves">Wall Shelves</a>
                              </li>

                              <li class="level2">
                                <a href="/products/home-decors/clothes-hangers" title="Clothes Hangers"
                                  >Clothes Hangers</a
                                >
                              </li>
                            </ul>
                          </li>

                          <li
                            class="level1 parent item fix-navs"
                            data-title="Kitchen ware"
                            data-link="/products/kitchen-ware">
                            <a class="hmega" href="/products/kitchen-ware" title="Kitchen ware">Kitchen ware</a>
                            <ul class="level1">
                              <li class="level2">
                                <a href="/products/kitchen-ware/placemats" title="Placemats & coasters"
                                  >Placemats & coasters</a
                                >
                              </li>

                              <li class="level2">
                                <a href="/products/kitchen-ware/tray" title="Tray & trugs">Tray & trugs</a>
                              </li>

                              <li class="level2">
                                <a href="/products/kitchen-ware/bowls" title="Bowls & banneton baskets"
                                  >Bowls & banneton baskets</a
                                >
                              </li>

                              <li class="level2">
                                <a href="/products/kitchen-ware/kitchen-utensils" title="Kitchen utensils"
                                  >Kitchen utensils</a
                                >
                              </li>

                              <li class="level2">
                                <a href="/products/kitchen-ware/cutlery" title="Cutlery trays & baskets"
                                  >Cutlery trays & baskets</a
                                >
                              </li>

                              <li class="level2">
                                <a href="/products/kitchen-ware/lunch-boxes" title="Lunch boxes">Lunch boxes</a>
                              </li>
                            </ul>
                          </li>

                          <li class="level1 parent item fix-navs" data-title="Lights" data-link="/noi-su-duong-sinh">
                            <a class="hmega" href="/products/lights" title="Lights">Lights</a>
                          </li>

                          <li
                            class="level1 parent item fix-navs"
                            data-title="Phụ kiện bàn ăn"
                            data-link="/phu-kien-ban-an">
                            <a class="hmega" href="/products/handbags" title="Handbags">Handbags</a>
                          </li>
                        </ul>
                      </div>
                      <div class="col-lg-4 col-12">
                        <a href="collections/all.html" title="Banner">
                          <img
                            width="414"
                            height="414"
                            class="lazyload"
                            src="/assets/100/485/241/themes/911577/assets/lazye387.png"
                            data-src="/assets/100/485/241/themes/911577/assets/danhmuc_5.jpg"
                            alt="Banner" />
                        </a>
                      </div>
                    </div>
                  </div>
                  <ul class="item_small d-lg-none d-block">
                    <li>
                      <a class="caret-down" href="/baskets" title="Baskets">Baskets</a>
                      <i class="fa fa-caret-down"></i>
                      <ul>
                        <li>
                          <a href="/baskets/laundry" title="Laundry" class="a3">Laundry</a>
                        </li>

                        <li>
                          <a href="/baskets/Store" title="Store" class="a3">Store</a>
                        </li>

                        <li>
                          <a href="/baskets/Boxes" title="Boxes" class="a3">Boxes</a>
                        </li>
                      </ul>
                    </li>

                    <li>
                      <a class="caret-down" href="/products/home-decors" title="Home Decors">Home Decors</a>
                      <i class="fa fa-caret-down"></i>
                      <ul>
                        <li>
                          <a href="/products/home-decors/mirrors" title="Mirrors">Mirrors</a>
                        </li>
                        <li>
                          <a href="/products/home-decors/wall-shelves" title="Wall Shelves">Wall Shelves</a>
                        </li>
                        <li>
                          <a href="/products/home-decors/clothes-hangers" title="Clothes Hangers">Clothes Hangers</a>
                        </li>
                      </ul>
                    </li>

                    <li>
                      <a class="caret-down" href="/products/kitchen-ware" title="Kitchen ware"> Kitchen ware </a>
                      <i class="fa fa-caret-down"></i>
                      <ul>
                        <li>
                          <a href="/products/kitchen-ware/placemats" title="Placemats & coasters" class="a3"
                            >Placemats & coasters</a
                          >
                        </li>
                        <li>
                          <a href="/products/kitchen-ware/tray" title="Tray & trugs" class="a3">Tray & trugs</a>
                        </li>
                        <li>
                          <a href="/products/kitchen-ware/bowls" title="Bowls & banneton baskets" class="a3"
                            >Bowls & banneton baskets</a
                          >
                        </li>
                        <li>
                          <a href="/products/kitchen-ware/kitchen-utensils" title="Kitchen utensils" class="a3"
                            >Kitchen utensils</a
                          >
                        </li>
                        <li>
                          <a href="/products/kitchen-ware/cutlery" title="Cutlery trays & baskets" class="a3"
                            >Cutlery trays & baskets</a
                          >
                        </li>
                        <li>
                          <a href="/products/kitchen-ware/lunch-boxes" title="Lunch boxes" class="a3">Lunch boxes</a>
                        </li>
                      </ul>
                    </li>

                    <li>
                      <a class="caret-down" href="/products/lights" title="Lights">Lights</a>
                    </li>

                    <li>
                      <a class="caret-down" href="/products/handbags" title="Handbags">Handbags</a>
                    </li>
                  </ul>
                </li>

                <li class="nav-item">
                  <a class="a-img a-index" href="/news" title="News"> News </a>
                </li>

                <li class="nav-item">
                  <a class="a-img a-index" href="/contact" title="Contact"> Contact </a>
                </li>

                <li class="nav-item">
                  <a class="a-img a-index" href="/catalogue" title="Catalogue"> Catalogue </a>
                </li>
              </ul> -->
              
              <ul class="item_small d-lg-none d-block float-container tab">
                <li><button class="tablinks active" onclick="openCity(event, 'London')">Menu</button></li>
                <li><button class="tablinks" onclick="openCity(event, 'Paris')">Products</button></li>
              </ul>
              <ul class="item_big tabcontent" id="London">
                <li class="nav-item active float-child-li"><a class="a-img a-index" href="/" title="Home"> Home </a></li>
                <li class="nav-item float-child-li"><a class="a-img a-index" href="/about" title="About"> About </a></li>
                <li class="nav-item has-mega float-child-li"><a class="a-img caret-down a-index" href="/products" title="Products"> Products </a>
                  <i class="fa fa-caret-down"></i>
                  <div class="mega-content d-lg-block d-none">
                    <div class="row">
                      <div class="col-lg-8 col-12">
                        <ul class="level0">
                          <li class="level1 parent item fix-navs" data-title="Baskets" data-link="/products/baskets">
                            <a class="hmega" href="/products/baskets" title="Baskets">Baskets</a>
                            <ul class="level1">
                              <li class="level2">
                                <a href="/products/baskets/laundry" title="Laundry">Laundry</a>
                              </li>

                              <li class="level2">
                                <a href="/products/baskets/store" title="Store">Store</a>
                              </li>

                              <li class="level2">
                                <a href="/products/baskets/boxes" title="Boxes">Boxes</a>
                              </li>
                            </ul>
                          </li>

                          <li
                            class="level1 parent item fix-navs"
                            data-title="Home Decors"
                            data-link="/products/home-decors">
                            <a class="hmega" href="/products/home-decors" title="Home Decors">Home Decors</a>
                            <ul class="level1">
                              <li class="level2">
                                <a href="/products/home-decors/mirrors" title="Mirrors">Mirrors</a>
                              </li>

                              <li class="level2">
                                <a href="/products/home-decors/wall-shelves" title="Wall Shelves">Wall Shelves</a>
                              </li>

                              <li class="level2">
                                <a href="/products/home-decors/clothes-hangers" title="Clothes Hangers"
                                  >Clothes Hangers</a
                                >
                              </li>
                            </ul>
                          </li>

                          <li
                            class="level1 parent item fix-navs"
                            data-title="Kitchen ware"
                            data-link="/products/kitchen-ware">
                            <a class="hmega" href="/products/kitchen-ware" title="Kitchen ware">Kitchen ware</a>
                            <ul class="level1">
                              <li class="level2">
                                <a href="/products/kitchen-ware/placemats" title="Placemats & coasters"
                                  >Placemats & coasters</a
                                >
                              </li>

                              <li class="level2">
                                <a href="/products/kitchen-ware/tray" title="Tray & trugs">Tray & trugs</a>
                              </li>

                              <li class="level2">
                                <a href="/products/kitchen-ware/bowls" title="Bowls & banneton baskets"
                                  >Bowls & banneton baskets</a
                                >
                              </li>

                              <li class="level2">
                                <a href="/products/kitchen-ware/kitchen-utensils" title="Kitchen utensils"
                                  >Kitchen utensils</a
                                >
                              </li>

                              <li class="level2">
                                <a href="/products/kitchen-ware/cutlery" title="Cutlery trays & baskets"
                                  >Cutlery trays & baskets</a
                                >
                              </li>

                              <li class="level2">
                                <a href="/products/kitchen-ware/lunch-boxes" title="Lunch boxes">Lunch boxes</a>
                              </li>
                            </ul>
                          </li>

                          <li class="level1 parent item fix-navs" data-title="Lights" data-link="/noi-su-duong-sinh">
                            <a class="hmega" href="/products/lights" title="Lights">Lights</a>
                          </li>

                          <li
                            class="level1 parent item fix-navs"
                            data-title="Phụ kiện bàn ăn"
                            data-link="/phu-kien-ban-an">
                            <a class="hmega" href="/products/handbags" title="Handbags">Handbags</a>
                          </li>
                        </ul>
                      </div>
                      <div class="col-lg-4 col-12">
                        <a href="collections/all.html" title="Banner">
                          <img
                            width="414"
                            height="414"
                            class="lazyload"
                            src="/assets/100/485/241/themes/911577/assets/lazye387.png"
                            data-src="/assets/100/485/241/themes/911577/assets/danhmuc_5.jpg"
                            alt="Banner" />
                        </a>
                      </div>
                    </div>
                  </div>
                  <ul class="item_small d-lg-none d-block">
                    <li>
                      <a class="caret-down" href="/baskets" title="Baskets">Baskets</a>
                      <i class="fa fa-caret-down"></i>
                      <ul>
                        <li>
                          <a href="/baskets/laundry" title="Laundry" class="a3">Laundry</a>
                        </li>

                        <li>
                          <a href="/baskets/Store" title="Store" class="a3">Store</a>
                        </li>

                        <li>
                          <a href="/baskets/Boxes" title="Boxes" class="a3">Boxes</a>
                        </li>
                      </ul>
                    </li>

                    <li>
                      <a class="caret-down" href="/products/home-decors" title="Home Decors">Home Decors</a>
                      <i class="fa fa-caret-down"></i>
                      <ul>
                        <li>
                          <a href="/products/home-decors/mirrors" title="Mirrors">Mirrors</a>
                        </li>
                        <li>
                          <a href="/products/home-decors/wall-shelves" title="Wall Shelves">Wall Shelves</a>
                        </li>
                        <li>
                          <a href="/products/home-decors/clothes-hangers" title="Clothes Hangers">Clothes Hangers</a>
                        </li>
                      </ul>
                    </li>

                    <li>
                      <a class="caret-down" href="/products/kitchen-ware" title="Kitchen ware"> Kitchen ware </a>
                      <i class="fa fa-caret-down"></i>
                      <ul>
                        <li>
                          <a href="/products/kitchen-ware/placemats" title="Placemats & coasters" class="a3"
                            >Placemats & coasters</a
                          >
                        </li>
                        <li>
                          <a href="/products/kitchen-ware/tray" title="Tray & trugs" class="a3">Tray & trugs</a>
                        </li>
                        <li>
                          <a href="/products/kitchen-ware/bowls" title="Bowls & banneton baskets" class="a3"
                            >Bowls & banneton baskets</a
                          >
                        </li>
                        <li>
                          <a href="/products/kitchen-ware/kitchen-utensils" title="Kitchen utensils" class="a3"
                            >Kitchen utensils</a
                          >
                        </li>
                        <li>
                          <a href="/products/kitchen-ware/cutlery" title="Cutlery trays & baskets" class="a3"
                            >Cutlery trays & baskets</a
                          >
                        </li>
                        <li>
                          <a href="/products/kitchen-ware/lunch-boxes" title="Lunch boxes" class="a3">Lunch boxes</a>
                        </li>
                      </ul>
                    </li>

                    <li>
                      <a class="caret-down" href="/products/lights" title="Lights">Lights</a>
                    </li>

                    <li>
                      <a class="caret-down" href="/products/handbags" title="Handbags">Handbags</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item float-child-li"><a class="a-img a-index" href="/news" title="News"> News </a></li>
                <li class="nav-item float-child-li"><a class="a-img a-index" href="/contact" title="Contact"> Contact </a></li>
                <li class="nav-item float-child-li"><a class="a-img a-index" href="/catalogue" title="Catalogue"> Catalogue </a>
                </li>

              </ul>
              <ul class="item-big tabcontent" id="Paris" style="display: none;">
                <li class="nav-item has-mega float-child-li"><a class="a-img caret-down a-index" href="/products" title="Products"> Products </a>
                  <i class="fa fa-caret-down"></i>
                  <ul class="item_small d-lg-none d-block">
                    <li>
                      <a class="caret-down" href="/baskets" title="Baskets">Baskets</a>
                      <i class="fa fa-caret-down"></i>
                      <ul>
                        <li>
                          <a href="/baskets/laundry" title="Laundry" class="a3">Laundry</a>
                        </li>

                        <li>
                          <a href="/baskets/Store" title="Store" class="a3">Store</a>
                        </li>

                        <li>
                          <a href="/baskets/Boxes" title="Boxes" class="a3">Boxes</a>
                        </li>
                      </ul>
                    </li>

                    <li>
                      <a class="caret-down" href="/products/home-decors" title="Home Decors">Home Decors</a>
                      <i class="fa fa-caret-down"></i>
                      <ul>
                        <li>
                          <a href="/products/home-decors/mirrors" title="Mirrors">Mirrors</a>
                        </li>
                        <li>
                          <a href="/products/home-decors/wall-shelves" title="Wall Shelves">Wall Shelves</a>
                        </li>
                        <li>
                          <a href="/products/home-decors/clothes-hangers" title="Clothes Hangers">Clothes Hangers</a>
                        </li>
                      </ul>
                    </li>

                    <li>
                      <a class="caret-down" href="/products/kitchen-ware" title="Kitchen ware"> Kitchen ware </a>
                      <i class="fa fa-caret-down"></i>
                      <ul>
                        <li>
                          <a href="/products/kitchen-ware/placemats" title="Placemats & coasters" class="a3"
                            >Placemats & coasters</a
                          >
                        </li>
                        <li>
                          <a href="/products/kitchen-ware/tray" title="Tray & trugs" class="a3">Tray & trugs</a>
                        </li>
                        <li>
                          <a href="/products/kitchen-ware/bowls" title="Bowls & banneton baskets" class="a3"
                            >Bowls & banneton baskets</a
                          >
                        </li>
                        <li>
                          <a href="/products/kitchen-ware/kitchen-utensils" title="Kitchen utensils" class="a3"
                            >Kitchen utensils</a
                          >
                        </li>
                        <li>
                          <a href="/products/kitchen-ware/cutlery" title="Cutlery trays & baskets" class="a3"
                            >Cutlery trays & baskets</a
                          >
                        </li>
                        <li>
                          <a href="/products/kitchen-ware/lunch-boxes" title="Lunch boxes" class="a3">Lunch boxes</a>
                        </li>
                      </ul>
                    </li>

                    <li>
                      <a class="caret-down" href="/products/lights" title="Lights">Lights</a>
                    </li>

                    <li>
                      <a class="caret-down" href="/products/handbags" title="Handbags">Handbags</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>

            <div class="control-menu d-none">
              <a href="#" id="prev"
                ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                  <path
                    fill="#000"
                    d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 278.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z" /></svg
              ></a>
              <a href="#" id="next"
                ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                  <path
                    fill="#000"
                    d="M342.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L274.7 256 105.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z" /></svg
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-12 header-menu header-menu-right">
        <div class="menu-bar d-lg-none d-block">
          <svg
            aria-hidden="true"
            focusable="false"
            data-prefix="far"
            data-icon="bars"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"
            class="svg-inline--fa fa-bars fa-w-14">
            <path
              fill="#ffffff"
              d="M436 124H12c-6.627 0-12-5.373-12-12V80c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12z"
              class=""></path>
          </svg>
        </div>
        <div class="header-control header-control-index">
          <ul class="ul-control">
            <li class="header-search">
              <a href="javascript:void(0)" class="button-search">
                <svg viewBox="0 0 612.01 612.01">
                  <path
                    d="M606.209,578.714L448.198,423.228C489.576,378.272,515,318.817,515,253.393C514.98,113.439,399.704,0,257.493,0     C115.282,0,0.006,113.439,0.006,253.393s115.276,253.393,257.487,253.393c61.445,0,117.801-21.253,162.068-56.586     l158.624,156.099c7.729,7.614,20.277,7.614,28.006,0C613.938,598.686,613.938,586.328,606.209,578.714z M257.493,467.8     c-120.326,0-217.869-95.993-217.869-214.407S137.167,38.986,257.493,38.986c120.327,0,217.869,95.993,217.869,214.407     S377.82,467.8,257.493,467.8z" />
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="popup-search">
  <div class="search-header">
    <div class="search-smart">
      <form
        action="https://sudes-gom-su.mysapo.net/search"
        method="get"
        class="header-search-form input-group search-bar"
        role="search">
        <input
          type="text"
          name="query"
          required
          class="input-group-field auto-search search-auto form-control"
          placeholder="Enter product code..."
          autocomplete="off" />

        <input type="hidden" name="type" value="product" />

        <button type="submit" class="btn icon-fallback-text" aria-label="Tìm kiếm" title="Tìm kiếm">
          <svg class="icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use>
          </svg>
        </button>

        <div class="search-suggest">
          <div class="list-search list-search-style"></div>
          <div class="list-search2 list-search-style"></div>
        </div>
      </form>
    </div>
  </div>
  <a href="javascript:void(0)" class="close-popup-search">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      version="1.1"
      x="0px"
      y="0px"
      viewBox="0 0 512.001 512.001"
      style="enable-background: new 0 0 512.001 512.001"
      xml:space="preserve">
      <g>
        <g>
          <path
            d="M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717    L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859    c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287    l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285    L284.286,256.002z"></path>
        </g>
      </g>
    </svg>
  </a>
  <div class="product-search">
    <div class="title-search">
      <span>Most searched products</span>
    </div>

    <div class="item">
      <div class="image">
        <a class="image_thumb" href="/products" title="Home decors">
          <img
            width="100"
            height="100"
            class="lazyload"
            src="/assets/100/485/241/themes/911577/assets/lazye387.png"
            data-src="/assets/100/485/241/themes/911577/assets/danhmuc_1.jpg"
            alt="Home decors" />
        </a>
      </div>
      <div class="content">
        <h3 class="product-name">
          <a class="line-clamp line-clamp-2" href="/products" title="Home decors">Home decors</a>
        </h3>
      </div>
    </div>

    <div class="item">
      <div class="image">
        <a class="image_thumb" href="/products" title="Home decors">
          <img
            width="100"
            height="100"
            class="lazyload"
            src="/assets/100/485/241/themes/911577/assets/lazye387.png"
            data-src="/assets/100/485/241/themes/911577/assets/danhmuc_2.jpg"
            alt="Home decors" />
        </a>
      </div>
      <div class="content">
        <h3 class="product-name">
          <a class="line-clamp line-clamp-2" href="/products" title="Home decors">Home decors</a>
        </h3>
      </div>
    </div>

    <div class="item">
      <div class="image">
        <a class="image_thumb" href="/products" title="Home decors">
          <img
            width="100"
            height="100"
            class="lazyload"
            src="/assets/100/485/241/themes/911577/assets/lazye387.png"
            data-src="/assets/100/485/241/themes/911577/assets/danhmuc_3.jpg"
            alt="Home decors" />
        </a>
      </div>
      <div class="content">
        <h3 class="product-name">
          <a class="line-clamp line-clamp-2" href="/products" title="Home decors">Home decors</a>
        </h3>
      </div>
    </div>

    <div class="item">
      <div class="image">
        <a class="image_thumb" href="/products" title="Home decors">
          <img
            width="100"
            height="100"
            class="lazyload"
            src="/assets/100/485/241/themes/911577/assets/lazye387.png"
            data-src="/assets/100/485/241/themes/911577/assets/danhmuc_4.jpg"
            alt="Home decors" />
        </a>
      </div>
      <div class="content">
        <h3 class="product-name">
          <a class="line-clamp line-clamp-2" href="/products" title="Home decors">Home decors</a>
        </h3>
      </div>
    </div>

    <div class="item">
      <div class="image">
        <a class="image_thumb" href="/products" title="Home decors">
          <img
            width="100"
            height="100"
            class="lazyload"
            src="/assets/100/485/241/themes/911577/assets/lazye387.png"
            data-src="/assets/100/485/241/themes/911577/assets/danhmuc_5.jpg"
            alt="Home decors" />
        </a>
      </div>
      <div class="content">
        <h3 class="product-name">
          <a class="line-clamp line-clamp-2" href="/products" title="Home decors">Home decors</a>
        </h3>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).on(
    'click',
    '.backdrop__body-backdrop___1rvky, .cart_btn-close, .close-popup, .close-popup-search',
    function () {
      $(
        '.backdrop__body-backdrop___1rvky, .cart-sidebar, #popup-cart-desktop, .popup-cart-mobile, .popup-coupon, .popup-search'
      ).removeClass('active')
      $('body').removeClass('search-active')
      return false
    }
  )

  function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script>
