<div class="variants product-action">
  <div class="product-thumbnail">
    <a class="image_thumb" href="/product/details">
      <img
        width="234"
        height="234"
        class="lazyload"
        src="/img/logo/lazy.png"
        data-src="/img/categories/danhmuc_<%= Math.floor(Math.random() * 4) + 1 %>.jpg" />
    </a>

    <div class="action">
      <a
        href="javascript:void(0)"
        data-id="<%= product?.id %>"
        data-amount="1"
        class="btn-cart btn-views add_to_cart is-added"
        title="Add to wish">
        <svg class="icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-wishlist"></use>
        </svg>
      </a>

      <a title="Quick view" data-id="<%= product?.id %>" class="quick-view btn-views">
        <svg class="icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-quickview"></use>
        </svg>
      </a>
    </div>
  </div>

  <div class="product-info">
    <h3 class="product-name">
      <a class="line-clamp line-clamp-2" href="/product/details">Home decors</a>
    </h3>
  </div>
</div>
