<div class="variants product-action">
  <div class="product-thumbnail">
    <a class="image_thumb" href="/products/details">
      <img
        width="234"
        height="234"
        class="lazyload"
        src="/assets/100/485/241/themes/911577/assets/lazye387.png"
        data-src="/assets/100/485/241/themes/911577/assets/danhmuc_<%= Math.floor(Math.random() * 4) + 1 %>.jpg" />
    </a>

    <div class="action">
      <a
        title="Xem nhanh"
        href="../bo-khay-mut-31-5cm-thien-kim.html"
        data-handle="bo-khay-mut-31-5cm-thien-kim"
        class="quick-view btn-views">
        <svg class="icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-quickview"></use>
        </svg>
      </a>
    </div>
  </div>

  <div class="product-info">
    <h3 class="product-name">
      <a class="line-clamp line-clamp-2" href="/products/details">Home decors</a>
    </h3>
  </div>
</div>
