<div class="variants product-action">
  <div class="product-thumbnail">
    <a class="image_thumb" href="/product/details">
      <img
        width="234"
        height="234"
        class="lazyload"
        src="/assets/lazy.png"
        data-src="/assets/danhmuc_<%= Math.floor(Math.random() * 4) + 1 %>.jpg" />
    </a>

    <div class="action">
      <a title="Quick view" href="#" data-handle="" class="quick-view btn-views">
        <svg class="icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-quickview"></use>
        </svg>
      </a>
    </div>
  </div>

  <div class="product-info">
    <h3 class="product-name">
      <a class="line-clamp line-clamp-2" href="/product/details">Home decors</a>
    </h3>
  </div>
</div>
